<div class="doctor-wrapper">
  <div class="doctor-record-wrapper">
    <div class="doctor-record-item"> 
      <%= "#{doctor.profile.first_name} #{doctor.profile.last_name}"%> 
    </div>
    <div class="doctor-record-item"> 
      <%= doctor.category.name %> 
    </div>
    <%= form_with url: "/doctor_users", class: "doctor-wrapper", method: :post do |form| %>
      <%= form.hidden_field :user_id, value: @current_user.id %>
      <%= form.hidden_field :doctor_id, value: doctor.id %>
      <%= form.button "Make an appointment", class: "doctor-primary-button" %>
    <% end %>
  </div> 
  <br>
</div>